body{font: 1em 'Open Sans', sans-serif;
margin:0;
}

iframe{
	border-width: 0;
}

.header{
  padding: 3em;
	padding-bottom: 5em;
  text-align: center;/* center the text */
  background-image:
  url('images/headerbackground.webp');
  animation-name: background;
  animation-duration: 180s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.header h1.letter{
  display: inline-block;
  font: 3em 'Montserrat', sans-serif;
  animation-name: fullname;
  animation-duration: 13s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.header br{
  display: none;
}

.header h1.letter:nth-child(1){animation-delay: 1s;}
.header h1.letter:nth-child(2){animation-delay: 2s;}
.header h1.letter:nth-child(3){animation-delay: 3s;}
.header h1.letter:nth-child(4){animation-delay: 4s;}
.header h1.letter:nth-child(5){animation-delay: 5s;}
.header h1.letter:nth-child(6){animation-delay: 6s;}
.header h1.letter:nth-child(8){animation-delay: 7s;}
.header h1.letter:nth-child(9){animation-delay: 8s;}
.header h1.letter:nth-child(10){animation-delay: 9s;}
.header h1.letter:nth-child(11){animation-delay: 10s;}
.header h1.letter:nth-child(12){animation-delay: 11s;}
.header h1.letter:nth-child(13){animation-delay: 12s;}
.header h1.letter:nth-child(14){animation-delay: 13s;}
.header h1.letter:nth-child(15){animation-delay: 14s;}


@keyframes fullname{
	0% {color: rgba(0, 0, 0, 1);}
	25% {color: rgba(0, 0, 0, 0.8);}
	50% {color: rgba(0, 0, 0, 0.6);}
	75% {color: rgba(0, 0, 0, 0.4);}
	100% {color: rgba(0, 0, 0, 0.2);}
}

@keyframes background{
  0% {background-position: left top;}
  25% {background-position: right top;}
  50% {background-position: right bottom;}
  75% {background-position: left bottom;}
  }


/* Style the top navigation bar */
.onavbar {
	position: absolute;
	top: 12.1em;
	width: 100%;
  overflow: hidden; /* Hide overflow */
  background-color: rgba(40,40,40,0.4); /* Dark background color */
	z-index: 5;
	height: 3.5em;
	transition: width 0.5s;
}
/* Style the navigation bar links */
.onavbar a {
	position: relative;
	font: 1em 'Raleway', sans-serif;
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 1em 1em; /* Add some padding */
  text-decoration: none; /* Remove underline */
}
/* Right-aligned link */
.onavbar a.right {
  float: right; /* Float a link to the right */
}
/* Change color on hover/mouse-over */
.onavbar a:hover {
  background-color: rgba(40,40,40,0.2); /* Grey background color */
  color: White; /* Black text color */
}
.onavbar a.active {
 background-color: rgba(40,40,40,0.4);
 color: White;
}
.onavbar a i{
	font-size: 1.5em;
}
.onavbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.onavbar.sticky + .content {
  padding-top: 5em;
}
.onavbar a div {
	position: absolute;
	width: 100%;
	left:0%; bottom:5%;
	font: 1.2em 'Economica', sans-serif;
}
.onavbar div.center{
	display: flex;
	justify-content: center;
	margin:0 auto;
}



.vnavbar {
	display: block;
	transition: 0.5s;
	font: 2em 'Economica', sans-serif;
  overflow: scroll; /* Scroll navbar */
  background-color: rgba(255,255,255,0.6); /* Dark background color */
	width: 0em;
	position: absolute;
	height: 100%;
	z-index: 4;
	padding-bottom: 8em;
}
.vnavbar::-webkit-scrollbar {
	background: transparent;
	overflow: visible;
	width: 10px;
}
.vnavbar::-webkit-scrollbar-thumb {
	background-color: rgba(40,40,40,0.2);

}

.vnavbar::-webkit-scrollbar-thumb:hover {
	background-color: rgba(40,40,40,0.6);
}

/* Style the navigation bar links */

.vnavbar a {
  float: top;
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: Black; /* White text color */
  text-align: left; /* Center the text */
  padding: 0.5em 0.5em; /* Add some padding */
  text-decoration: none; /* Remove underline */
	width: 100%;
	white-space: nowrap;
}
/* Top-aligned link */
.vnavbar a.top {
  float: top; /* Float a link to the top */
}
/* Change color on hover/mouse-over */
.vnavbar a:hover {
  background-color: rgba(40,40,40,0.2); /* Grey background color */
  color: Black; /* Black text color */
}
 .vnavbar.sticky {
  position: fixed;
  top: 1.73em;
	left: 0em;
	height: 100%;
	padding-bottom: 2em;
}
.vnavbar.sticky + .content {
  padding-top: 2em;
}

/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* section settings */
section.main{
	transition: 0.5s;
	position: relative;
	left: 0em;
	z-index: 1;
	margin: 0em;
	padding: 0em;
}
section.UL h1{
	display: inline;
	font: 4em 'Economica', sans-serif;
	letter-spacing: 0.2em;
}
section.UL div.img{
	min-height: 30em;
	height: 100%;
	width: 100%;
}
section.UL div.txt{
	font: 1.4em "Open Sans", sans-serif;
	letter-spacing: 0.2em;

}
section.XL h1{
	display: inline;
	font: 3.6em 'Economica', sans-serif;
	letter-spacing: 0.2em;
}
section.XL div.img{
	height: 25em;
	width: 100%;
}
section.XL div.txt{
	font: 1.3em "Open Sans", sans-serif;
	letter-spacing: 0.2em;

}
section.L h1{
	display: inline;
	font: 3.2em 'Economica', sans-serif;
	letter-spacing: 0.2em;
}
section.L div.img{
	height: 20em;
	width: 100%;
}
section.L div.txt{
	font: 1.2em "Open Sans", sans-serif;
	letter-spacing: 0.2em;

}
section.M h1{
	display: inline;
	font: 2.8em 'Economica', sans-serif;
	letter-spacing: 0.2em;
}
section.M div.img{
	height: 15em;
	width: 100%;
}
section.M div.txt{
	font: 1.1em "Open Sans", sans-serif;
	letter-spacing: 0.2em;

}
section.S h1{
	display: inline;
	font: 2.4em 'Economica', sans-serif;
	letter-spacing: 0.2em;
}
section.S div.img{
	height: 10em;
	width: 100%;
}
section.S div.txt{
	font: 1em "Open Sans", sans-serif;
	letter-spacing: 0.2em;

}
section.XS h1{
	display: inline;
	font: 2em "Economica", sans-serif;
	letter-spacing: 0.2em;

}
section.XS div.img{
	height: 5em;
	width: 100%;
}
section.XS div.txt{
	font: 0.9em "Open Sans", sans-serif;
	letter-spacing: 0.2em;

}
section.US h1{
	display: inline;
	font: 1.6em "Economica", sans-serif;
	letter-spacing: 0.1em;

}
section.US div.img{
	height: 0em;
	width: 100%;
}
section.US div.txt{
	font: 0.8em "Open Sans", sans-serif;
	letter-spacing: 0.2em;

}

/* Column container */
.row {
	transition: 0.5s;
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  background-color: #f1f1f1; /* Grey background color */
  padding: 0.5em; /* Some padding */
}
.side.L{
	flex: 45%; /* Set the width of the sidebar */
}
.side.M{
	flex: 30%; /* Set the width of the sidebar */
}
.side.S{
	flex: 15%; /* Set the width of the sidebar */
}

/* Main column */
.main {
  background-color: white; /* White background color */
  padding: 0.5em; /* Some padding */
}
.main.L{
	flex: 85;
}
.main.M{
	flex: 85;
}
.main.S{
	flex: 85;
}

/* Responsive layout - when the screen is less than 900px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
	.header br{
		display: block;
	}
	.onavbar{
		top: 19.9em;
	}
	section.UL{
		padding-bottom: 7em;
	}
	section.XL{
		padding-bottom: 6em;
	}
	section.L{
		padding-bottom: 5em;
	}
	section.M{
		padding-bottom: 4em;
	}
	section.S{
		padding-bottom: 3em;
	}
	section.XS{
		padding-bottom: 2em;
	}
	section.US{
		padding-bottom: 1em;
	}
  .row {
    flex-direction: column;
		position: static;
		left:	0;
		width: 100%;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
body{
	font-size: 0.9em;
}
}

@media screen and (max-width: 400px) {
body{
	font-size: 0.8em;
}
}

@media screen and (max-width: 300px) {
	body{
		font-size: 0.7em;
	}
}

.footer {
	height: 30em;
	position: relative;
	left: 0;
	width: 100%;
	padding-top: 2vw;
  padding-left: 5vw; /* Some padding */
	justify-content: center;
  background: #ddd; /* Grey background */
	z-index: 0;
}
