section.anagrafica td{
	font: 1em 'Lato', sans-serif;
	letter-spacing: 0.2em;
	padding-bottom: 20px;
}
section.anagrafica  div.img{
	background-image: url("images/me.webp");
	background-position: 70% 45%;
	background-size: 960px 522px;
}

section.descrizione div.img{
	background-image: url("images/productivity.webp");
	background-position: 60% 60%;
	background-size: 960px 522px;
}

section.competenze td{
	font: 1em 'Lato', sans-serif;
	letter-spacing: 0.2em;
	padding-bottom: 20px;
}
section.competenze td.score{
width: 100%;
}
section.competenze div.score{
border: 0.1em solid white;
height: 1.4em;
width: 10%;
display: inline-block;
background-color: rgba(0, 0, 0, 0.4);
}
section.competenze div.img{
	background-image: url("images/coding.webp");
	background-position: 40% 40%;
	background-size: 960px 720px;
}

section.istruzione td{
	font: 1em 'Lato', sans-serif;
	letter-spacing: 0.2em;
	padding-bottom: 20px;
}
section.istruzione div.img{
	background-image: url("images/studying.webp");
	background-position: 60% 80%;
	background-size: 960px 522px;
}
