section.news1 div.img {
  background-image: url("images/novità1.webp");
  background-position: 50% 50%;
  background-size: 360px 270px;
}

section.news2 div.img {
  background-image: url("images/novità2.webp");
  background-position: 50% 50%;
  background-size: 360px 270px;
}

section.news3 div.img {
  background-image: url("images/novità3.webp");
  background-position: 50% 50%;
  background-size: 360px 270px;
}

section.news4 div.img {
  background-image: url("images/novità4.webp");
  background-position: 50% 50%;
  background-size: 280px 210px;
}

section.news5 div.img {
  background-image: url("images/novità5.webp");
  background-position: 50% 50%;
  background-size: 280px 210px;
}

section.news6 div.img {
  background-image: url("images/novità6.webp");
  background-position: 50% 50%;
  background-size: 280px 210px;
}

section.news7 div.img {
  background-image: url("images/novità7.webp");
  background-position: 50% 50%;
  background-size: 100px 75px;
}

section.news8 div.img {
  background-image: url("images/novità8.webp");
  background-position: 50% 50%;
  background-size: 100px 75px;
}

section.news9 div.img {
  background-image: url("images/novità9.webp");
  background-position: 50% 50%;
  background-size: 100px 75px;
}
