section.anagrafica td{
	font: 1.6em 'Lato', sans-serif;
	letter-spacing: 0.2em;
	padding-bottom: 20px;
}
section.anagrafica  div.img{
	background-image: url("images/me.jpg");
	background-position: 70% 20%;
	background-size: 900px 900px;
}

section.descrizione div.img{
	background-image: url("images/productivity.jpg");
	background-position: 55% 80%;
	background-size: 900px 900px;
}

section.competenze td{
	font: 1.6em 'Lato', sans-serif;
	letter-spacing: 0.2em;
	padding-bottom: 20px;
}
section.competenze td.score{
width: 100%;
}
section.competenze div.score{
border: 0.1em solid white;
height: 1.4em;
width: 10%;
display: inline-block;
background-color: rgba(0, 0, 0, 0.4);
}
section.competenze div.img{
	background-image: url("images/coding.jpg");
	background-position: 50% 40%;
	background-size: 900px 900px;
}

section.istruzione td{
	font: 1.6em 'Lato', sans-serif;
	letter-spacing: 0.2em;
	padding-bottom: 20px;
}
section.istruzione div.img{
	background-image: url("images/studying.jpg");
	background-position: 60% 100%;
	background-size: 900px 900px;
}
