section.news1 div.img{
	background-image: url("images/novità1.webp");
	background-position: 0% 0%;
	background-size: 480px 360px;
}

section.news2 div.img{
	background-image: url("images/novità2.webp");
	background-position: 0% 0%;
	background-size: 480px 360px;
}

section.news3 div.img{
	background-image: url("images/novità3.webp");
	background-position: 0% 30%;
	background-size: 480px 360px;
}

section.news4  div.img{
	background-image: url("images/novità1.webp");
	background-position: 0% 0%;
	background-size: 480px 360px;
}

section.news5 div.img{
	background-image: url("images/novità2.webp");
	background-position: 0% 0%;
	background-size: 480px 360px;
}

section.news6 div.img{
	background-image: url("images/novità3.webp");
	background-position: 0% 20%;
	background-size: 480px 360px;
}

section.news7  div.img{
	background-image: url("images/novità1.webp");
	background-position: 0% 0%;
	background-size: 480px 360px;
}

section.news8 div.img{
	background-image: url("images/novità2.webp");
	background-position: 0% 0%;
	background-size: 480px 360px;
}

section.news9 div.img{
	background-image: url("images/novità3.webp");
	background-position: 0% 20%;
	background-size: 480px 360px;
}
